#dashboard_wrapper {
  width: 1100px;
  margin: 20px auto;
}

#map_wrapper {
  width: 500px;
  height: 600px;
  margin: auto;
}

#state_migration_map {
  height: 500px; 
  width: 500px; 
  /*margin: 0px auto;*/
  overflow: hidden;
  margin: auto;
}

.map-instructions {
  margin: 80px 0px 0px 40px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #C14D00;
  font-size: 15px;
}

#sub_instructions {
  font-size: 12px;
  font-weight: normal;
}

.drilldown.title {
  height: 50px;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  background: none;
}

.drilldown {
  height: 210px; /* Was 189px */
  width: 300px;
  /*margin: 20px auto;*/
  float: left;
  clear: left;
  margin: 20px 0 0 0;
  display: block;
  background: none;
}

.age-form {

  margin: auto;
  width: 200px;
  display: block;
}

.select-age {
  width: 100%;
  margin: 10px auto 10px;
  font-size:16px; 
  display: inline-block;
  height: 22px;
}

.table-notes {
  font-size: 9px;
  width: 500px;
  margin: auto 20px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color: #666;
}


/*~~~~~~~~~~~~~ Year Slider ~~~~~~~~~~~~~~~~*/
#year_slider {
  margin: 5px 0px 5px 150px;
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
  border-radius: 3px;
  background: #E4DCD5;
  outline: none;
  display: inline-block;
}

#year_slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 20%;
  background: #4E7686; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


#year_slider::-moz-range-thumb {
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 20%;
  background: #4E7686; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#year_label {
  text-align: center;
  font-family: sans-serif;
  color: rgba(100,100,100,0.9);
  font-size: 1.10em;
  margin: 10px auto 0 auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition-delay: 0s;
}
