#map_wrapper {
  width: 800px;
  margin: auto;
}

#state_migration_map {
  height: 400px; 
  width: 500px; 
  /*margin: 0px auto;*/
  overflow: hidden;
  margin-left: 300;
}

.drilldown {
  height: 189px; 
  width: 300px;
  /*margin: 20px auto;*/
  float: left;
  clear: left;
  margin: 0px 0px;
  display: block;
  background: none;
}

.drilldown.title {
  height: 22px;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  background: none;

}

.tooltip_chart_top {
  height: 165px; 
  width: 300px;
  margin: auto;
  padding: 0px;
}

.tooltip_chart {
  height: 60px; 
  width: 300px;
  margin: auto;
  padding: 0px;
}

form {
  float: left;
  clear: left;
  margin: 10px;
  width: 300px;
}

select {
  width: 100%;
}

p {
  font-size: 11px;
}

#year_slider {
  margin: 20px 10px 10px 425px;
  /*margin-left: 400px;*/
  -webkit-appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 3px;
  background: #E4DCD5;
  outline: none;
  display: block;
}

#year_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 20%;
    background: #4E7686; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


#year_slider::-moz-range-thumb {
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 20%;
    background: #4E7686; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#year_label {
  text-align: center;
  font-family: sans-serif;
  color: rgba(100,100,100,0.9);
  font-size: 1.25em;
  /*margin: 15px auto;*/
  position: fixed;
  left: 50%;
  margin-left: 330px;
  margin-top: -29px;

}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition-delay: 0s;
}

select {
  margin: 10px 5px auto;
  font-size:16px; 
  display: inline-block;
  height: 22px;
  width: 25%;
}

h4 {
  margin: 70px auto;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #C14D00;
  font-size: 16px;
}
